@import '../../../styles/main.scss';

.container {
	position: relative;
	flex-grow: 1;
}

.suggestionsContainerOpen {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 2;
	margin-top: 0;
	height: 300px;
	overflow-y: auto;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.suggestionsContainerOpen::-webkit-scrollbar {
	width: 7px;
}

.suggestionsContainerOpen::-webkit-scrollbar-track {
	background: $secondary-color;
}

.suggestionsContainerOpen::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 25px;
}

.suggestion {
	display: block;

	&:last-child {
		.menuItem {
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	}
}

.suggestionsList {
	margin: 0;
	padding: 0;
	background: $secondary-color;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.input {
	width: 100%;
	border: 0;
	border-bottom: 2px solid #9b9b9b;
	font-size: 1rem;
	padding: 7px 0;
	background: transparent;
	transition: 0.2s;

	&:focus {
		border-width: 2px;
		border-color: $primary-color;
	}
}

.inputDisabled {
	pointer-events: none;
}

.menuItem {
	height: auto;
	padding: 8px 15px;
	white-space: normal;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	cursor: pointer;

	&:hover,
	:active {
		background-color: rgba(0, 0, 0, 0.14);
	}

	.highlightSpan {
		color: $primary-color;
		font-size: 1rem;
	}

	.span {
		font-weight: 500;
		font-size: 1rem;
	}
}

.selected {
	background-color: rgba(0, 0, 0, 0.14);
}

.borders {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
