@import '../../styles/main.scss';

@include mq-md {
	.app {
		height: 100vh;
		display: grid;
		grid-template-columns: 200px 1fr;

		.content {
			max-height: 100vh;
			overflow-y: auto;

			.main {
				padding: 20px;
			}
		}
	}
}
