@import '../../styles/main.scss';

.container {
	.sidebar {
		background: $secondary-color;
		position: fixed;
		top: 0;
		left: -100%;
		z-index: 5;
		transition: 850ms;
		width: 50%;
		height: 100vh;
		overflow-y: auto;
		box-shadow: rgba(90, 97, 105, 0.11) 0px 2px 0px,
			rgba(90, 97, 105, 0.12) 0px 4px 8px, rgba(90, 97, 105, 0.06) 0px 10px 10px,
			rgba(90, 97, 105, 0.1) 0px 7px 70px;

		.logo {
			@include flex-center;
			padding: 10px 0;
		}
	}

	.active {
		left: 0;
		transition: 350ms;
	}
}

@include mq-md {
	.container {
		position: relative;

		.sidebar {
			position: absolute;
			width: 100%;
			left: 0;
		}
	}
}
