@import './styles/main';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	background: $tertiary-color;
	color: black;
	font-family: 'Poppins', sans-serif;
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	max-height: 100vh;
	height: 100vh;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: black;
}

button {
	cursor: pointer;
}

ul {
	list-style: none;
}

svg {
	margin-right: 5px;
}
